<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Lol pick guide</title>
</head>
<body>
  <div id="champion-select">
    <div class="selected-champions" id="our-bans">
      <h2>Our bans</h2>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
    </div>
    <div class="selected-champions" id="our-picks">
      <h2>Our picks</h2>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
    </div>
    <div class="selected-champions" id="their-picks">
      <h2>Their picks</h2>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
    </div>
    <div class="selected-champions" id="their-bans">
      <h2>Their bans</h2>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
    </div>
  </div>
  <div id="champions-list"></div>
  <div id="pick-recommendation"></div>
</body>
</html>